[Desktop Entry]
Version=1.0
Name=Anthemscore
Comment=Music
TryExec=/opt/anthemscore
Exec=/opt/anthemscore %U
Icon=/usr/share/icons/anthemscore.png
Type=Application
Categories=music
