[Desktop Entry]
Version=1.0
Name=Jubler
Comment=Subtitle Editor
TryExec=/opt/jubler
Exec=/opt/jubler %U
Icon=/home/kmiller/.local/share/icons/hicolor/64x64/apps/jubler.png
Type=Application
Categories=subtitles
