[Desktop Entry]
Version=1.0
Name=testit
Comment=Tester
TryExec=/home/kmiller/Code/LOCAL/make_desktop/testit
Exec=/home/kmiller/Code/LOCAL/make_desktop/testit %U
Icon=
Type=Application
Categories=testing
