[Desktop Entry]
Version=1.0
Name=Pyts
Comment=Torrent Search
Exec=/usr/local/bin/system/launchers/run_pyts
Icon=/usr/local/bin/__pyscripts__/pyts/pyts.svg
Type=Application
Categories=torrent
