[Desktop Entry]
Version=1.0
Name=Pyts
Comment=Torrent Search
Exec=/usr/local/bin/system/launchers/run_pyts
#Icon=/usr/local/bin/__pyscripts__/pyts/pyts.svg
Icon=/usr/share/icons/Yaru/32x32@2x/emblems/emblem-downloads.png
Type=Application
Categories=torrent
