action_do () {
	local M

	for M in ${_MARKED};do
		msg_box -p -PK "Place action here"
		list_set_selected ${M} ${_GHOST_ROW}
	done
}

action_warn () {
	local M
	
	msg_box -p -PP "<I>Please respond|$(str_unicode_line 14)| |${#_MARKED} $(str_pluralize item ${#_MARKED}) selected"

	if [[ ${_MSG_KEY} == 'n' ]];then
		for M in ${_MARKED};do
			list_set_selected ${M} 0
		done
	fi
}

item_decorate () {
	local NDX=${1}

	echo -n ${_LIST[${NDX}]}
}
